<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adult.android"
    android:versionCode="1"
    android:versionName="0.5.1_1512" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 如果选择智能卡方式(即sdkPro)集成，需要额外定义以下权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".presenter.AgentApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".presenter.activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".presenter.activity.ProductDetailsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".presenter.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".presenter.activity.ProductCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.CouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.ModifyLoginPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.CheckAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.PromotionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.ChangeNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.ValidatePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.activity.ValidateNewPhoneActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="CCIGMALL" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="OFFICIAL" />

        <activity android:name=".presenter.activity.PayWapActivity" >
        </activity>
        <!-- 银联移动支付画面 (组件) -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presenter.activity.CarsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".presenter.activity.ImagePagerActivity"
            android:screenOrientation="portrait" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->
        <activity
            android:name=".presenter.activity.GuideViewPagerActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activity.TopicDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.TopicListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.RegistActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.ProductListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.ProductDetailsActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.OrderCommitActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.OrderListActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.OrderDetailsActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.UserProfile"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".presenter.activity.AddressEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.CouponListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.VerifyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.CommitUserProfile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.LoginActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.FindPsdActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.MyTopicListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.PostTopicActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.CommentListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".presenter.activity.EvaluationActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>